Body {
  font-family: "Helvetica", serif;
  color: #04002f;
  background: #99CADC;
  line-height: 150%;
}
ul li {
  padding: 2px 0px; 
}

#main {
  background: #FFF;
  border-radius: 3pt;
  margin: 50pt auto auto auto;
  padding: 2.29cm 2.41cm 2.54cm 2.41cm;
  width: 21cm;
  height: 297mm;
  animation-name: deBluring;
  animation-duration: 1s;
  
  transform: rotate(.2deg);
  transform-origin: top left;
}

#about {
  background: #FFF;
  border-radius: 3pt;
  margin: 50pt auto auto auto;
  padding: 2.29cm 2.41cm 2.54cm 2.41cm;
  width: 21cm;
  height: 297mm;
  animation-name: deBluring;
  animation-duration: 1s;
  
  transform: rotate(-.3deg);
  transform-origin: top left;
}

#avatar{
    border-radius: 512pt;
    float: right;
    height: 200px;
    width: 200px;
}

#aboutMe{
  font-family: "Helvetica", serif;
  padding: 20pt 10pt 0pt 20pt;
}

#contact {
  color: #7F7F7F;
}
h1 {
  font-size: 40pt;
  text-transform: uppercase;
  color: #04002f;
}

h2{
    color: #04002f;;
}
h2:before {
  content: '';
  display: block;
  border: 1.5px solid black;
  margin-bottom: 3pt;
  border-color: #04002f;
  
}
h2:after {
  content: '';
  display: block;
  border: 1px solid black;
  margin-top: 3pt;
  border-color: #04002f;
}

/*Bullets */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding-left: 1em;
  text-indent: -.7em;
}
li:before {
  content: "\25c6  ";
  color: #99CADC;
}

a{
  color: #04002f;
}
#Headder {
  background: #FFF;
}
@keyframes deBluring {
  from {
    -webkit-filter: blur(100px);
    filter: blur(100px);
  }
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

}
