Body {
  font-family: "Helvetica", serif;
  color: #04002f;
  
  background: linear-gradient(53deg, #7cbc6f, #55aea1);
  line-height: 150%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
}
ul li {
  padding: 2px 0px; 
}

#main {
  background: #1A2A1D;
  color: #fff;
  border-radius: 3pt;
  margin: 50pt auto 3cm auto;
  padding: 2.29cm 2.41cm 2.54cm 2.41cm;
  width: 21cm;
  height: 297mm;
  animation-name: deBluring;
  animation-duration: 1s;
  
  transform: rotate(.2deg);
  transform-origin: top left;
}

#about {
  background: #1A2A1D;
  color: #fff;
  border-radius: 3pt;
  margin: 50pt auto auto auto;
  padding: .3cm 1cm 2.54cm 1cm;
  width: 21cm;
  height: 50mm;
  animation-name: deBluring;
  animation-duration: 1s;
  
  transform: rotate(-.3deg);
  transform-origin: top left;
}

#avatar{
    border-radius: 260px;
    float: right;
    height: 7cm;
    width: 7cm;

    position: absolute;
    right: .1cm;

  
}

#aboutMe{
  font-family: "Helvetica", serif;
  width: 20cm;
  
}

#about-text{
  font-family: "Helvetica", serif;
  width: 15cm;
 
}

#contact {
  color: #DDD;
}
h1 {
  font-size: 40pt;
  text-transform: uppercase;
  color: #CAECE5;
}

h2{
    color: #CAECE5;
}
h2:before {
  content: '';
  display: block;
  border: 1.5px solid #CAECE5;
  margin-bottom: 3pt;
  border-color: #CAECE5;
  
}
h2:after {
  content: '';
  display: block;
  border: 1px solid #CAECE5;
  margin-top: 3pt;
  border-color: #CAECE5;
}

/*Bullets */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding-left: 1em;
  text-indent: -.7em;
}
li:before {
  content: "\25c6  ";
  color: #CAECE5;
}

a{
  color: #CAECE5;
}
#Headder {
  background: #FFF;
}

@keyframes deBluring {
  from {
    -webkit-filter: blur(100px);
    filter: blur(100px);
  }

  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 63%}
    50%{background-position:100% 38%}
    100%{background-position:0% 63%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 63%}
    50%{background-position:100% 38%}
    100%{background-position:0% 63%}
}
@keyframes AnimationName { 
    0%{background-position:0% 63%}
    50%{background-position:100% 38%}
    100%{background-position:0% 63%}
}